@model LoginViewModel

<form asp-controller="Account" asp-action="LostPasswordAsync" asp-route-returnurl="@ViewData["ReturnUrl"]"
      method="post" 
      class="p-a-4" 
      id="page-signin-forgot-form">
    <h4 class="m-t-0 m-b-4 text-xs-center font-weight-semibold">Resetar senha</h4>
    <fieldset class="page-signin-form-group form-group form-group-lg">
        <div class="page-signin-icon text-muted"><i class="ion-at"></i></div>
        @Html.TextBoxFor(i => i.UserNameOrEmail, htmlAttributes: new
                           {
                               @class = "page-signin-form-control form-control",
                               placeholder = "Usuário ou Email"
                           })
    </fieldset>
    <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">Me envie o link</button>
    <div class="m-t-2 text-muted">
        <a href="#" id="page-signin-forgot-back">&larr; Voltar</a>
    </div>
</form>